body {
    font-family: "Lucida Console", monospace;
    text-align: center;
}

.brb {
    color: #0bb6b6;
    font-weight: 900;
    font-size: 3.5em;
}

.fab .far {
    color: #5712f8; 
}

.git {
    padding: 50px 50px 0px 50px;
    font-size:100px;
}

.git a:hover {
    font-size: 200px;
    color: #27c0b3;
}

.email {
    padding: 50px;
    font-size: 100px;  
}

.email a:hover {
    font-size: 200px;
    color: #27c0b3;
}

.fcc {
    font-size: 100px;
    padding: 0px 50px 50px 50px;
}

.fcc a:hover {
    font-size: 200px;
    color: #27c0b3;
}

footer {
    text-align: center;                    
}