---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Sophia, a master of none based in Raleigh, NC. 
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>SQL</li>
        <li>Astro</li>
        <li>Canva</li>
        <li>Spreadsheets</li>
        <li>Kreg Pocket Hole Jig</li>
        <li>Miter Saw</li>

      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design, illustration, woodworking, home improvement and traveling.
      An unusual hobby of mine is collecting vintage Avon perfume bottles; they're
      interesting glass bottles that come in unique shapes and designs.
    </p>
    <p class="text-sm font-light">
      While I do not specialize in any specific area, I enjoy exploring various fields and continuously learning new skills.
    </p>
  </div>
</Card>
